@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body {
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.main-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

.site-description, .signup-form {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.site-description {
    background-color: #007bff; /* Adjust the background color as needed */
    color: #fff; /* For text to be visible on the blue background */
    flex: 1;
}

.signup-form {
    background-color: #fff;
    flex: 1;
}

.signup-form h1, .site-description h1 {
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #512da8;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    list-style-position: inside;
}
