<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>
<body>

<div class="navbar">
    <a href="{{ url_for('show_feed') }}" class="{{ 'active' if active_page == 'feed' else '' }}">Feed</a>
    <!-- Adjust other links similarly as needed -->
    <a href="{{ url_for('create_post') }}" class="{{ 'active' if active_page == 'post' else '' }}">Post</a>
    <a href="{{ url_for('communities') }}" class="{{ 'active' if active_page == 'communities' else '' }}">Communities</a>
    {% if current_user %}
        <a href="{{ url_for('profile') }}" class="{{ 'active' if active_page == 'profile' else '' }}">
            <img src="{{ current_user.profile_pic_url | default('https://via.placeholder.com/50', true) }}" alt="Profile Picture" class="navbar-profile-pic">
        </a>
    {% else %}
        <a href="{{ url_for('login') }}" class="{{ 'active' if active_page == 'login' else '' }}">Login</a>
    {% endif %}
</div>



{% block content %}
{% endblock %}

</body>
</html>
