{% extends "base.html" %}

{% block title %}Communities{% endblock %}

{% block content %}
<div class="feed-container">
    {% for community in communities %}
        <div class="card">
            <div class="card-header">
                <img src="{{ url_for('static', filename=community.profile_pic_url) }}" alt="Profile Picture" class='user-profile-pic'>
                <div>{{ community.name }}</div>
            </div>
            <div class="card-content">{{ community.description }}</div>
            <div class="card-actions">
                {% if community.id not in user_communities %}
                    <form action="{{ url_for('join_community', community_id=community.id) }}" method="post">
                        <button type="submit" class="card-action">Join Community</button>
                    </form>
                {% else %}
                    <span>Joined</span>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


