{% extends "admin_panel_base.html" %}

{% block content %}
<div class="container">
    <h2>Manage Community Job for ID: {{ community_id }}</h2>
    {% if job %}
    <p>Current Status: {{ 'Paused' if job.paused else 'Active' }}</p>
    <!-- Divide interval_length by 60 to convert seconds to minutes -->
    <p>Current Interval: Every {{ (job.trigger.interval_length // 60) }} minutes</p>

    <form action="" method="POST">
        <div class="mb-3">
            <label for="interval" class="form-label">Update Interval (minutes):</label>
            <input type="number" name="interval" id="interval" class="form-control" required>
            <button type="submit" name="update_interval" class="btn btn-primary mt-2">Update Interval</button>
        </div>
        <button type="submit" name="pause" class="btn btn-warning" {{ 'disabled' if job.paused }}>Pause</button>
        <button type="submit" name="resume" class="btn btn-success" {{ 'disabled' if not job.paused }}>Resume</button>
        <button type="submit" name="cancel" class="btn btn-danger">Cancel Job</button>
    </form>
    {% else %}
    <p>No job found for this community. Would you like to start one?</p>
    <form action="" method="POST">
        <div class="mb-3">
            <label for="start_interval" class="form-label">Set Interval (minutes) to Start Job:</label>
            <input type="number" name="start_interval" id="start_interval" class="form-control" required>
            <button type="submit" name="start_job" class="btn btn-primary mt-2">Start Job</button>
        </div>
    </form>
    {% endif %}

    <!-- Button to add a new prompt for the currently selected community -->
<a href="{{ url_for('add_prompt_community', community_id=community.id if community else None) }}" class="btn btn-primary">Add New Prompt</a>


    {% for prompt in prompts %}
    <div class="card mb-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <img src="{{ url_for('static', filename=prompt.community.profile_pic_url) }}" alt="{{ prompt.community.name }} Profile Picture" class="rounded-circle me-3" style="width: 60px; height: 60px;">
                <div class="flex-grow-1">
                    <h5 class="card-title">{{ prompt.community.name }}</h5>
                    <p class="card-text">{{ prompt.prompt }}</p>
                </div>
                <div class="btn-group" role="group">
                    <a href="{{ url_for('edit_prompt', prompt_id=prompt.id) }}" class="btn btn-primary">Edit</a>
                    <button onclick="postWithRandomSeeder({{ prompt.id }})" class="btn btn-warning">Force</button>
                    <button onclick="deletePrompt({{ prompt.id }})" class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="alert alert-info" role="alert">
        No prompts found.
    </div>
    {% endfor %}

</div>
{% endblock %}

