{% extends "admin_panel_base.html" %}

{% block title %}Conversation {{ conversation_id }}{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            Participants
        </div>
        <ul class="list-group list-group-flush">
            {% for user in users_in_conversation %}
            <li class="list-group-item">
                {% if conversation.is_anonymous %}
                    Anonymous
                {% else %}
                    <a href="{{ url_for('profile', user_id=user.id) }}">{{ user.first_name }} {{ user.last_name }}</a>
                    <img src="{{ user.profile_pic_url or url_for('static', filename='images/default_profile.png') }}" alt="Profile Picture" class="rounded-circle" style="width:30px; height:30px;">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="card mt-3">
        <div class="card-body">
            <h5 class="card-title">Messages</h5>
            <ul class="list-unstyled">
                {% for message in messages %}
                <li class="mb-2">
                    <strong>{{ message.user.first_name }} {{ message.user.last_name }}</strong>: {{ message.body }}
                    <div class="text-muted">
                        <small>{{ message.sent_at }}</small>
                    </div>
                </li>
                {% else %}
                <li>No messages found in this conversation.</li>
                {% endfor %}
            </ul>
        </div>
    </div>

   <div class="card mt-3">
    <div class="card-body">
        <h5 class="card-title">Send a Message</h5>
        <form action="{{ url_for('send_message_admin') }}" method="post">
            <input type="hidden" name="conversation_id" value="{{ conversation_id }}">
            <input type="hidden" name="user_id" value="{{ seeder_id }}">
            <div class="mb-3">
                <textarea class="form-control" name="message" placeholder="Type your message here..." rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
    </div>
</div>


        </div>
    </div>
</div>
{% endblock %}


