<!-- templates/profile.html -->
{% extends "base.html" %}

{% block title %}{{ user.first_name }} {{ user.last_name }}'s Profile{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-card">
        <img src="{{ user.profile_pic_url}}" alt="Profile Picture" class="profile-pic">
        <h2>Welcome, {{ user.first_name }} {{ user.last_name }}!</h2>
        <p>This is your profile page.</p>
        
        <!-- Display the user's industry if it exists -->
        {% if user.industry %}
            <p>Your Industry: {{ user.industry }}</p>
        {% endif %}


        {% if user.interests %}
            <p>Your Interests:</p>
            <ul>
                {% for interest in user.interests %}
                    <li>{{ interest.name }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>You haven't added any interests yet.</p>
        {% endif %}

        

        {# {% if user.burner_username %} #}
    {# <p>Your Burner Username: {{ user.burner_username }}</p> #}
{# {% else %} #}
    {# <!-- Form for creating a burner username --> #}
    {# <form action="{{ url_for('create_burner_username') }}" method="post"> #}
        {# <label for="burner_username">Create Burner Username:</label> #}
        {# <input type="text" id="burner_username" name="burner_username" required> #}
        {# <button type="submit">Create</button> #}
    {# </form> #}
{# {% endif %} #}

        

        <!-- Logout form -->
        <form action="{{ url_for('logout') }}" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>

    </div>
</div>
{% endblock %}



