{% extends "admin_panel_base.html" %}

{% block content %}
<div class="container mt-3">
    <h2>Seeder Messages</h2>
    <a href="{{ url_for('compose_message') }}" class="btn btn-primary">Compose</a>

    <div class="list-group">
        {% for conversation in conversations %}
        <a href="{{ url_for('get_messages_admin', conversation_id=conversation.id) }}" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <div>
                    <!-- Only display the first participant's profile picture if the conversation is not anonymous -->
                    <img src="{% if not conversation.is_anonymous %}{{ conversation.other_pics[0] if conversation.other_pics else '/static/images/default_profile.png' }}{% else %}/static/images/anonymous.png{% endif %}" alt="Profile Image" style="width: 40px; height: 40px; border-radius: 50%;">
                    <strong>
                        {% if conversation.is_anonymous %}
                            {{ conversation.other_participants[0] if conversation.other_participants else 'Anonymous' }}  <!-- Display burner_username if available -->
                        {% else %}
                            {{ conversation.other_participants[0] if conversation.other_participants else 'Unknown' }}
                        {% endif %}
                    </strong>
                    {% if not conversation.message_read %}
                    <span class="badge bg-danger">Needs Response</span>
                    {% endif %}
                </div>
                <small>{{ conversation.latest_sent_at | time_ago }}</small>
            </div>
            <div class="d-flex w-100 justify-content-between align-items-center mt-2">
                <p class="mb-1">{{ conversation.latest_message }}</p>
                <div>
                    <!-- Display seeder profile picture only -->
                    <img src="{{ conversation.seeder.pic if conversation.seeder.pic else '/static/images/default_profile.png' }}" alt="Profile Image" style="width: 30px; height: 30px; border-radius: 50%;">
                    <small>{{ conversation.seeder.name }}</small>
                </div>
            </div>
        </a>
        {% else %}
        <p>No conversations found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}





